.order-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    max-width: 1200px;
    width: 800px;
    height: 80vh;
    margin: 0 auto;
    overflow-y: auto; 
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
}

.order-table th,
.order-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.order-table th {
    background-color: #d9e1f2;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.order-table tr:nth-child(even) {
    background-color: #f7f7f7;
}

.order-table tr:hover {
    background-color: #e1eaff;
}

.order-table td {
    background-color: #fff;
    color: #000;
}

.order-table tr td {
    text-align: center;
}

.order-table tr td:first-child {
    font-weight: normal;
}

.order-table tr td:last-child {
    font-weight: normal;
    color: #000;
}

@media (max-width: 768px) {
    .order-table th,
    .order-table td {
        padding: 8px;
    }
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    appearance: none;
    color: white;
    text-align: center;
    background: rgb(255, 98, 0);
    border: 2px solid white;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:hover {
    border:2px solid  rgb(255, 98, 0);
    background: white;
    color:  rgb(255, 98, 0);
}


