*{
    padding: 0;
    margin: 0;
}
.productdata{
    padding: 10px;
    border:2px solid green;
    display: flex;

}
.firstdiv h2{
    text-transform: capitalize;


}
.seconddiv{
    padding-left: 10px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
}
.seconddiv :nth-child(2){
    color: red;
}
.seconddiv button{
    padding: 5px;
    color: white;
    border: 2px solid rgb(255, 68, 0);
    background: rgb(255, 68, 0);
    border-radius: 5px;
}
.seconddiv button:hover{
 color: rgb(255, 68, 0);
 background: transparent;
 border: 2px solid rgb(255, 68, 0);
}
