* {
    margin: 0;
    padding: 0;
}

.cardcss{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-data {
     display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center; 
    flex: 1;
    height: 40px;
    max-width: 1200px;
    width: 100%;
    background:#fff1eb;
    border-radius: 10px;
    padding-top: 10px;
    /* border: 2px solid rgb(214, 197, 181); */
}

.card-data ul {
    display: flex;   
    list-style: none;
    padding: 0;
    flex: 1;
}

.card-data ul li {
    /* background: green; */
    padding: 0 10px;
    border-left: 2px solid green;
    margin: 10px 0; /* Adjust vertical margin */
    text-align: center; /* Center text within li */
}
.card-data ul li:first-child{
    border: none;

   }
.card-data ul li a {

    text-decoration: none;
    color: #333; /* Example color */
}
